.dest{
  width: 100vw;
  height: 100svh;
  background-image: url(../../../public/destination/background-destination-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10svh 0px;
  /* overflow: hidden; */
}

.h1_span{
  color: #FFF;
  font-family: 'Barlow' Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.7px;
  opacity: 0.25;
}

.h1{
  text-align: center;
  color: #FFF;
  font-family: 'Barlow' Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.dest_carousel{
  display: flex;
  width: fit-content;
  transition: all .3s ease-in-out;
}
.moon_btn:active ~ .dest_carousel{
  transform: translateX(-25%);
}
