
.hero_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero{
  width: 100vw;
  height: 100svh;
  background-image: url(../../public/home/background-home-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15svh 5%;
  color: #fff;
}

.subtitle{
  color: #D0D6F9;
  text-align: center;
  font-family: "Barlow" Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}
.title{
  color: #FFF;
  text-align: center;
  font-family: "Bellefair";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px; /* 125% */
  margin: 16px 0;
}
.text{
  color: #D0D6F9;
  text-align: center;
  font-family: 'Barlow';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.explore_btn{
  width: 50vw;
  aspect-ratio: 1 / 1;
  margin: 50px auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #0B0D17;
  text-align: center;
  font-family: Bellefair;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
  transition: all .3s ease-in-out;
}
.explore_btn:hover{
  -webkit-box-shadow: -5px 10px 25px 12px rgba(255,255,255,1);
  -moz-box-shadow: -5px 10px 25px 12px rgba(255,255,255,1);
  box-shadow: -5px 10px 25px 12px rgba(255,255,255,1);
}
