.dest_nav{
  width: 327px;
  height: 28px;
  display: flex;
  justify-content:  space-between;
}

.dest_nav button{
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFF;
  font-family: 'Barlow' Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  cursor: pointer;
}
.dest_nav button.active{
  border-bottom: 3px solid #fff;
}
.dest_nav button:hover{
  border-bottom: 3px solid #ffffffcc;
}
@media only screen and (min-width:700px){
  .dest_nav{
    width: 385px;
  }
  .dest_nav button{
    font-size: 16px;
    letter-spacing: 2.7px;
  }
}
@media only screen and (min-width: 1028px){
  
}